*{
    user-select: none;
}

.board{
    display: flex;
    flex-wrap: wrap;
    width: 120vh;
    margin-left: 52.5vh;
    margin-top: -80vh;
}

.card{
    height: 10vh;
    width: 18vh;
    border-radius: 1vh;
    border: solid 0.2vh #ffffff;
    background-color: rgb(191, 190, 190);
    color: #504b4b;
    align-content: center;
    text-align: center;
    margin-right: 3vh;
    margin-bottom: 1vh;
    font-size: 2.5vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.cardred{
    background-color: rgb(219, 89, 72);
    color: #6c1c1c;
}

.cardblue{
    background-color: rgb(59, 160, 255);
    color: #193752;

}

.cardblack{
    background: #524b4b;
    color: #aea2a2;
}


.redTeam{
    background-color: rgba(190, 0, 0, 0.066);
    border-left: solid #f05050;
    height: 70vh;
    width: 15vh;
    margin-top: 20vh;
}

.blueTeam{
    background-color: rgba(0, 111, 190, 0.066);
    border-right: solid #6d9fcb;
    height: 70vh;
    width: 15vh;
    margin-top: -70vh;
    margin-left: 92.5%;
}

.teambutton{
    margin: 1vh;
    border: none;
    background-color: #ffffff00;
    cursor: pointer;
}

.teambutton:hover{
    text-decoration: underline;
}

.teambutton.active {
    font-weight: 600;
  }

