*{
    background-color: #262626;
    color: white;
}

.gearpng{
    width: 3vh;
    background-color: #3b3b3b;
}

.gearbutton{
    width: 5vh;
    height: 5vh;
    margin-left: 97.6%;
    margin-top: 1vh;
    background-color: #3b3b3b;
    border: none;
}

.start{
    width: 5vh;
    background-color: #3b3b3b;
    margin: 1vh;
}

.buttonmenu{
    margin: 5vh;
    background-color: #3b3b3b;
    border: none;
}

.gearmenu{
    position: absolute;
    width: 50vh;
    height: 25vh;
    top: 75vh;
    right: 5vh;
    background-color: #3b3b3b;
}

